:root {
  --background: #eedfde;
  --content: #fff;
  --text: #333;
  --primary: #d2527f;
  --secondary: #dee2e6;
  --avatar-size: 150px;
  --avatar-print: 100px;
  --qrcode-size: 100%;
  --qrcode-print: 100px;
  --pie-size: 56px;
}

@mixin tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin tv {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
  li {
    color: var(--primary);
    margin-top: 1rem;
    span {
      color: var(--text);
    }
  }
}

header {
  padding: 2rem 1rem 0.5rem;
  @include tablet {
    padding-top: 1rem;
    display: grid;
    grid-template-areas:
      "avatar info qrcode"
      ". contatos .";
    #avatar {
      grid-area: avatar;
    }
    #info {
      grid-area: info;
    }
    #qrcode {
      grid-area: qrcode;
    }
    #contatos {
      grid-area: contatos;
    }
  }
  @include desktop {
    border-bottom: 1px solid var(--secondary);
    grid-template-areas:
      "avatar info qrcode"
      ". contatos contatos";
  }
  @include print {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "avatar info"
      "qrcode contatos";
  }
}

main {
  .side-content {
    grid-area: side;
    section {
      border-top: 1px solid var(--secondary);
    }
    @include tablet {
      display: grid;
      grid-template-areas:
        "habilidades habilidades"
        "competencias linguas"
        "cursos certificacoes"
        "cursos atividades";
      #habilidades {
        grid-area: habilidades;
      }
      #competencias {
        grid-area: competencias;
      }
      #linguas {
        grid-area: linguas;
      }
      #cursos {
        grid-area: cursos;
      }
      #certificacoes {
        grid-area: certificacoes;
      }
      #atividades {
        grid-area: atividades;
      }
    }
    @include desktop {
      grid-template-areas:
        "habilidades competencias linguas"
        "cursos certificacoes atividades";
      section {
        border: 0;
      }
    }
    @include print {
      display: grid;
      grid-template-areas:
        "habilidades competencias linguas"
        "cursos certificacoes atividades";
    }
  }
  .main-content {
    grid-area: main;
    section {
      border-top: 1px solid var(--secondary);
    }
    @include desktop {
      border-left: 1px solid var(--secondary);
      section {
        border: 0;
      }
      #formacao {
        border-top: 1px solid var(--secondary);
      }
    }
  }
}

section {
  padding: 1rem;
}

.background {
  background-color: var(--content);
  margin: 1rem;
  @include desktop {
    margin: 1rem auto;
    max-width: 960px;
  }
  @include tv {
    max-width: 1200px;
  }
}

.avatar {
  border: 1px solid var(--secondary);
  border-radius: 100%;
  display: block;
  height: var(--avatar-size);
  margin: auto;
  padding: 0.25rem;
  width: var(--avatar-size);
  @include print {
    --avatar-size: var(--avatar-print);
  }
  img {
    border-radius: 100%;
    max-width: 100%;
  }
}

.info {
  padding: 1rem 0 0;
  text-align: center;
  @include tablet {
    text-align: left;
    padding: 0 1.5rem;
  }
  @include print {
    padding-left: 2rem;
    text-align: left;
  }
}

.qrcode {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: var(--qrcode-size);
  @include tablet {
    --qrcode-size: var(--qrcode-print);
  }
  @include print {
    --qrcode-size: var(--qrcode-print);
  }
  img {
    max-width: 100%;
  }
}

.contatos {
  padding: 0 1rem;
  @include tablet {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  a {
    color: inherit;
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
    .fas,
    .fab {
      color: var(--primary);
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
  @include print {
    padding-left: 2rem;
    a {
      display: block;
    }
  }
}

.destaque {
  color: var(--primary);
  font-weight: 500;
  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.habilidades {
  list-style: none;
  padding-left: 0;
  text-align: center;
  li {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
  }
}

.competencias {
  list-style: none;
  padding: 0;
  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.timeline {
  display: grid;
  grid-template-areas: "ano" "local" "cargo" "entregas" "atividades";
  padding: 0 0 1.5rem 2.5rem;
  position: relative;
  // Linha
  &::before {
    content: "";
    background-color: var(--primary);
    bottom: 0;
    height: 100%;
    position: absolute;
    left: 0.75rem;
    top: 0;
    width: 1px;
  }
  // Bola
  &::after {
    content: "";
    background-color: var(--content);
    border: 1px solid var(--primary);
    border-radius: 50%;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
  }
  .ano {
    display: block;
    font-weight: 500;
    grid-area: ano;
    margin: 0;
    padding: 0.35rem 3.5rem 1rem 0;
    position: relative;
  }
  .local {
    font-size: 1.5rem;
    font-weight: 500;
    grid-area: local;
    line-height: 1;
    margin: 0.125rem 0 0.25rem;
  }
  .cargo {
    grid-area: cargo;
  }
  .entregas {
    grid-area: entregas;
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 0;
  }
  ul {
    grid-area: atividades;
    li {
      margin-bottom: 0.5rem;
    }
  }
  @include desktop {
    padding-left: 0;
    padding-bottom: 0;
    grid-template-columns: 10rem auto;
    grid-template-areas:
      "ano local"
      "ano cargo"
      "ano entregas"
      "ano atividades";
    &::before,
    &::after {
      content: none;
    }
    .ano {
      padding-bottom: 3rem;
      text-align: right;
      // Linha
      &::before {
        content: "";
        background-color: var(--primary);
        bottom: 0;
        height: 100%;
        position: absolute;
        right: 1.75rem;
        top: 0;
        width: 1px;
      }
      // Bola
      &::after {
        content: "";
        background-color: var(--content);
        border: 1px solid var(--primary);
        border-radius: 50%;
        height: 1.5em;
        position: absolute;
        right: 1rem;
        top: 0;
        width: 1.5em;
      }
    }
  }
  @include print {
    display: block;
    margin: 1rem 0 0;
    padding-bottom: 0;
    .ano {
      padding-bottom: 0;
      &::before,
      &::after {
        content: none;
      }
    }
  }
}

.escolaridade {
  .formacao {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .titulo {
      color: var(--primary);
      font-size: 1.5rem;
      font-weight: 600;
      grid-area: titulo;
      margin-bottom: 0.25rem;
      width: 100%;
    }
    .descricao {
      grid-area: descricao;
      margin-bottom: 0.25rem;
      width: 100%;
    }
    .fim,
    .inicio {
      display: inline-block;
      margin-bottom: 0;
      position: relative;
    }
    .fim {
      order: 1;
      grid-area: fim;
      &::before {
        left: 0.5rem;
      }
      &::after {
        left: 0.5rem;
      }
    }
    .inicio {
      grid-area: inicio;
      &::after {
        content: "a";
        margin: 0 0.25rem;
      }
    }
  }
  @include desktop {
    display: flex;
    .formacao {
      display: grid;
      justify-content: space-between;
      grid-template-areas:
        "titulo titulo"
        "descricao descricao"
        "fim inicio";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr auto;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &#mba {
        width: 30%;
      }
      &#pos {
        width: 25%;
      }
      &#graduacao {
        width: 45%;
      }
      // Barra cinza
      &::before {
        content: "";
        background-color: var(--secondary);
        bottom: 3.5rem;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
      .descricao {
        flex: 1;
        margin-bottom: 2rem;
        min-height: 4rem;
        padding-right: 1rem;
      }
      .fim,
      .inicio {
        display: block;
        // Linha
        &::before {
          content: "";
          background-color: var(--primary);
          height: 2px;
          padding: 0;
          position: absolute;
          top: -2.5rem;
          width: 100%;
        }
        // Bola
        &::after {
          content: "";
          background-color: var(--content);
          border: 2px solid var(--primary);
          border-radius: 50%;
          bottom: 100%;
          height: 1em;
          position: absolute;
          top: -3rem;
          width: 1em;
        }
      }
      .inicio {
        padding-right: 1.5rem;
        text-align: right;
        &::before {
          right: 3rem;
        }
        &::after {
          content: "";
          right: 1.75rem;
        }
      }
    }
  }
}

.pie-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
  @include print {
    display: block;
    margin: 1rem 0 0;
  }
}

.pie-chart {
  margin: 0 0 1rem;
  position: relative;
  text-align: center;
  figcaption {
    margin-top: 0.5rem;
  }
  .chart {
    border-radius: 50%;
    height: var(--pie-size);
    margin: auto;
    width: var(--pie-size);
  }
  .mask {
    background: var(--content);
    border-radius: 50%;
    height: var(--pie-size);
    width: var(--pie-size);
    margin: calc(var(--pie-size) * -1) auto 0;
    transform: scale(0.7);
  }
  @include print {
    text-align: left;
    margin: 1rem 0 0;
    figcaption {
      display: block;
      margin: 1rem 0 0;
    }
    .chart,
    .mask {
      display: none;
    }
  }
  &#agilidade {
    .chart {
      background: conic-gradient(
        var(--primary) 0,
        var(--primary) 95%,
        var(--secondary) 0,
        var(--secondary) 100%
      );
    }
  }
  &#comunicacao {
    .chart {
      background: conic-gradient(
        var(--primary) 0,
        var(--primary) 80%,
        var(--secondary) 0,
        var(--secondary) 100%
      );
    }
  }
  &#criatividade {
    .chart {
      background: conic-gradient(
        var(--primary) 0,
        var(--primary) 85%,
        var(--secondary) 0,
        var(--secondary) 100%
      );
    }
  }
  &#escrita {
    .chart {
      background: conic-gradient(
        var(--primary) 0,
        var(--primary) 85%,
        var(--secondary) 0,
        var(--secondary) 100%
      );
    }
  }
}

.progress-charts {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  @include print {
    display: block;
    margin: 1rem 0 0;
    li {
      display: block;
      margin: 1rem 0 0;
    }
  }
}

.progress-chart {
  background-color: var(--secondary);
  border-radius: 0;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  .progress-bar {
    background-color: var(--primary);
    height: 100%;
  }
  @include print {
    display: none;
  }
}

@include print {
  .sr-only {
    display: inline;
    font-weight: bold;
    height: auto;
    width: auto;
    margin: 0 0 0 0.25rem;
    position: static;
    clip: auto;
    padding: 0;
    overflow: visible;
  }
}