:root {
  --background: #eedfde;
  --content: #fff;
  --text: #333;
  --primary: #d2527f;
  --secondary: #dee2e6;
  --avatar-size: 150px;
  --avatar-print: 100px;
  --qrcode-size: 100%;
  --qrcode-print: 100px;
  --pie-size: 56px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgba(238, 223, 222, 0.6);
  background-size: cover;
}
@media (min-width: 576px) {
  html {
    background-image: linear-gradient(rgba(238, 223, 222, 0.6), rgba(238, 223, 222, 0.6)), url("../images/high-IMG_8851.jpg");
  }
}

body {
  color: var(--text);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}
ul li {
  color: var(--primary);
  margin-top: 1rem;
}
ul li span {
  color: var(--text);
}

header {
  padding: 2rem 1rem 0.5rem;
}
@media (min-width: 576px) {
  header {
    padding-top: 1rem;
    display: grid;
    grid-template-areas: "avatar info qrcode" ". contatos .";
  }
  header #avatar {
    grid-area: avatar;
  }
  header #info {
    grid-area: info;
  }
  header #qrcode {
    grid-area: qrcode;
  }
  header #contatos {
    grid-area: contatos;
  }
}
@media (min-width: 992px) {
  header {
    border-bottom: 1px solid var(--secondary);
    grid-template-areas: "avatar info qrcode" ". contatos contatos";
  }
}
@media print {
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "avatar info" "qrcode contatos";
  }
}

main .side-content {
  grid-area: side;
}
main .side-content section {
  border-top: 1px solid var(--secondary);
}
@media (min-width: 576px) {
  main .side-content {
    display: grid;
    grid-template-areas: "habilidades habilidades" "competencias linguas" "cursos certificacoes" "cursos atividades";
  }
  main .side-content #habilidades {
    grid-area: habilidades;
  }
  main .side-content #competencias {
    grid-area: competencias;
  }
  main .side-content #linguas {
    grid-area: linguas;
  }
  main .side-content #cursos {
    grid-area: cursos;
  }
  main .side-content #certificacoes {
    grid-area: certificacoes;
  }
  main .side-content #atividades {
    grid-area: atividades;
  }
}
@media (min-width: 992px) {
  main .side-content {
    grid-template-areas: "habilidades competencias linguas" "cursos certificacoes atividades";
  }
  main .side-content section {
    border: 0;
  }
}
@media print {
  main .side-content {
    display: grid;
    grid-template-areas: "habilidades competencias linguas" "cursos cursos cursos" "certificacoes certificacoes certificacoes" "atividades atividades atividades";
  }
}
main .main-content {
  grid-area: main;
}
main .main-content section {
  border-top: 1px solid var(--secondary);
}
@media (min-width: 992px) {
  main .main-content {
    border-left: 1px solid var(--secondary);
  }
  main .main-content section {
    border: 0;
  }
  main .main-content #formacao {
    border-top: 1px solid var(--secondary);
  }
}

section {
  padding: 1rem;
}

.background {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  margin: 1rem;
}
@media (min-width: 992px) {
  .background {
    margin: 4rem auto;
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .background {
    max-width: 1200px;
  }
}

.avatar {
  border: 1px solid var(--secondary);
  border-radius: 100%;
  display: block;
  height: var(--avatar-size);
  margin: auto;
  padding: 0.25rem;
  width: var(--avatar-size);
}
@media print {
  .avatar {
    --avatar-size: var(--avatar-print);
  }
}
.avatar img {
  border-radius: 100%;
  max-width: 100%;
}

.info {
  padding: 1rem 0 0;
  text-align: center;
}
@media (min-width: 576px) {
  .info {
    text-align: left;
    padding: 0 1.5rem;
  }
}
@media print {
  .info {
    padding-left: 2rem;
    text-align: left;
  }
}

.qrcode {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: var(--qrcode-size);
}
@media (min-width: 576px) {
  .qrcode {
    --qrcode-size: var(--qrcode-print);
  }
}
@media print {
  .qrcode {
    --qrcode-size: var(--qrcode-print);
  }
}
.qrcode img {
  max-width: 100%;
}

.contatos {
  padding: 0 1rem;
}
@media (min-width: 576px) {
  .contatos {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
}
.contatos a {
  color: inherit;
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
}
.contatos a .fas,
.contatos a .fab {
  color: var(--primary);
}
.contatos a:not(:last-child) {
  margin-right: 1rem;
}
.contatos a:hover span {
  text-decoration: underline;
}
@media print {
  .contatos {
    padding-left: 2rem;
  }
  .contatos a {
    display: block;
  }
}

.destaque {
  color: var(--primary);
  font-weight: 500;
}
.destaque p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.habilidades {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.habilidades li {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;
}

.competencias {
  list-style: none;
  padding: 0;
}
.competencias li:not(:last-child) {
  margin-bottom: 1rem;
}

.timeline {
  display: grid;
  grid-template-areas: "ano" "local" "cargo" "entregas" "atividades";
  padding: 0 0 1.5rem 2.5rem;
  position: relative;
}
.timeline::before {
  content: "";
  background-color: var(--primary);
  bottom: 0;
  height: 100%;
  position: absolute;
  left: 0.75rem;
  top: 0;
  width: 1px;
}
.timeline::after {
  content: "";
  background-color: var(--content);
  border: 1px solid var(--primary);
  border-radius: 50%;
  height: 1.5em;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5em;
}
.timeline .ano {
  display: block;
  font-weight: 500;
  grid-area: ano;
  margin: 0;
  padding: 0.35rem 3.5rem 1rem 0;
  position: relative;
}
.timeline .local {
  font-size: 1.5rem;
  font-weight: 500;
  grid-area: local;
  line-height: 1;
  margin: 0.125rem 0 0.25rem;
}
.timeline .cargo {
  grid-area: cargo;
}
.timeline .entregas {
  grid-area: entregas;
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 0;
}
.timeline ul {
  grid-area: atividades;
  margin-bottom: 2rem;
}
.timeline ul li {
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .timeline {
    padding-left: 0;
    padding-bottom: 0;
    grid-template-columns: 10rem auto;
    grid-template-areas: "ano local" "ano cargo" "ano entregas" "ano atividades";
  }
  .timeline::before, .timeline::after {
    content: none;
  }
  .timeline .ano {
    padding-bottom: 3rem;
    text-align: right;
  }
  .timeline .ano::before {
    content: "";
    background-color: var(--primary);
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 1.75rem;
    top: 0;
    width: 1px;
  }
  .timeline .ano::after {
    content: "";
    background-color: var(--content);
    border: 1px solid var(--primary);
    border-radius: 50%;
    height: 1.5em;
    position: absolute;
    right: 1rem;
    top: 0;
    width: 1.5em;
  }
}
@media print {
  .timeline {
    display: block;
    margin: 1rem 0 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .timeline::before, .timeline::after {
    content: none;
  }
  .timeline .ano {
    padding-bottom: 0;
  }
  .timeline .ano::before, .timeline .ano::after {
    content: none;
  }
}

.escolaridade .formacao {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.escolaridade .formacao:not(:last-child) {
  margin-bottom: 1rem;
}
.escolaridade .formacao .titulo {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
  grid-area: titulo;
  margin-bottom: 0.25rem;
  width: 100%;
}
.escolaridade .formacao .descricao {
  grid-area: descricao;
  margin-bottom: 0.25rem;
  width: 100%;
}
.escolaridade .formacao .fim,
.escolaridade .formacao .inicio {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
}
.escolaridade .formacao .fim {
  order: 1;
  grid-area: fim;
}
.escolaridade .formacao .fim::before {
  left: 0.5rem;
}
.escolaridade .formacao .fim::after {
  left: 0.5rem;
}
.escolaridade .formacao .inicio {
  grid-area: inicio;
}
.escolaridade .formacao .inicio::after {
  content: "a";
  margin: 0 0.25rem;
}
@media (min-width: 992px) {
  .escolaridade {
    display: flex;
  }
  .escolaridade .formacao {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "titulo titulo" "descricao descricao" "fim inicio";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .escolaridade .formacao:not(:last-child) {
    margin-bottom: 0;
  }
  .escolaridade .formacao#mba {
    width: 30%;
  }
  .escolaridade .formacao#pos {
    width: 25%;
  }
  .escolaridade .formacao#graduacao {
    width: 45%;
  }
  .escolaridade .formacao::before {
    content: "";
    background-color: var(--secondary);
    bottom: 3.5rem;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
  .escolaridade .formacao .descricao {
    flex: 1;
    margin-bottom: 2rem;
    min-height: 4rem;
    padding-right: 1rem;
  }
  .escolaridade .formacao .fim,
.escolaridade .formacao .inicio {
    display: block;
  }
  .escolaridade .formacao .fim::before,
.escolaridade .formacao .inicio::before {
    content: "";
    background-color: var(--primary);
    height: 2px;
    padding: 0;
    position: absolute;
    top: -2.5rem;
    width: 100%;
  }
  .escolaridade .formacao .fim::after,
.escolaridade .formacao .inicio::after {
    content: "";
    background-color: var(--content);
    border: 2px solid var(--primary);
    border-radius: 50%;
    bottom: 100%;
    height: 1em;
    position: absolute;
    top: -3rem;
    width: 1em;
  }
  .escolaridade .formacao .inicio {
    padding-right: 1.5rem;
    text-align: right;
  }
  .escolaridade .formacao .inicio::before {
    right: 3rem;
  }
  .escolaridade .formacao .inicio::after {
    content: "";
    right: 1.75rem;
  }
}

.pie-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 576px) {
  .pie-charts {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  .pie-charts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media print {
  .pie-charts {
    display: block;
    margin: 1rem 0 0;
  }
}

.pie-chart {
  margin: 0 0 1rem;
  position: relative;
  text-align: center;
}
.pie-chart figcaption {
  margin-top: 0.5rem;
}
.pie-chart .chart {
  border-radius: 50%;
  height: var(--pie-size);
  margin: auto;
  width: var(--pie-size);
}
.pie-chart .mask {
  background: var(--content);
  border-radius: 50%;
  height: var(--pie-size);
  width: var(--pie-size);
  margin: calc(var(--pie-size) * -1) auto 0;
  transform: scale(0.7);
}
@media print {
  .pie-chart {
    text-align: left;
    margin: 1rem 0 0;
  }
  .pie-chart figcaption {
    display: block;
    margin: 1rem 0 0;
  }
  .pie-chart .chart,
.pie-chart .mask {
    display: none;
  }
}
.pie-chart#agilidade .chart {
  background: conic-gradient(var(--primary) 0, var(--primary) 95%, var(--secondary) 0, var(--secondary) 100%);
}
.pie-chart#comunicacao .chart {
  background: conic-gradient(var(--primary) 0, var(--primary) 80%, var(--secondary) 0, var(--secondary) 100%);
}
.pie-chart#criatividade .chart {
  background: conic-gradient(var(--primary) 0, var(--primary) 85%, var(--secondary) 0, var(--secondary) 100%);
}
.pie-chart#escrita .chart {
  background: conic-gradient(var(--primary) 0, var(--primary) 85%, var(--secondary) 0, var(--secondary) 100%);
}

.progress-charts {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}
@media print {
  .progress-charts {
    display: block;
    margin: 1rem 0 0;
  }
  .progress-charts li {
    display: block;
    margin: 1rem 0 0;
  }
}

.progress-chart {
  background-color: var(--secondary);
  border-radius: 0;
  height: 0.5rem;
  margin-bottom: 0.25rem;
}
.progress-chart .progress-bar {
  background-color: var(--primary);
  height: 100%;
}
@media print {
  .progress-chart {
    display: none;
  }
}

@media print {
  .sr-only {
    display: inline;
    font-weight: bold;
    height: auto;
    width: auto;
    margin: 0 0 0 0.25rem;
    position: static;
    clip: auto;
    padding: 0;
    overflow: visible;
  }
}/*# sourceMappingURL=styles.css.map */