html {
  background-color: #eedfde;
}

body {
  background-color: #eedfde;
  font-family: "Roboto", sans-serif;
}

.background {
  background-color: #fff;
  margin-bottom: 80px;
  margin-top: 100px;
  min-height: 98vh;
  padding: 60px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 900;
}

.avatar {
  border-radius: 100%;
  max-height: 25vh;
  text-align: center;
}

@media (min-width: 992px) {
  .avatar {
    max-height: none;
  }
}

.qrcode {
  max-width: 100%;
}

[class*="fa-"] {
  color: #d2527f;
}

.contatos a {
  color: inherit;
}

.destaque {
  color: #d2527f;
  font-weight: 500;
}

.habilidades {
  -webkit-columns: 2;
          columns: 2;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.habilidades li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 15px;
}

.competencias {
  list-style: none;
  padding-left: 0;
  padding-right: 15px;
}

.competencias li {
  margin-bottom: 8px;
}

.competencias .progress {
  background-color: #dee2e6;
  border-radius: 0;
  height: 0.5rem;
}

.competencias .progress-bar {
  background-color: #d2527f;
}

.progress-circle {
  background-color: #dee2e6;
  border-radius: 50%;
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto 0;
  position: relative;
}

.progress-circle:before {
  background-color: #d2527f;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
}

.progress-circle:after {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.progress-circle[data-progress="0"]:before {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #dee2e6), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #d2527f), color-stop(50%, #dee2e6), to(#dee2e6));
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(90deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="1"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(93.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="2"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(97.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="3"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(100.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="4"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(104.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="5"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(108deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="6"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(111.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="7"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(115.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="8"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(118.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="9"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(122.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="10"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(126deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="11"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(129.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="12"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(133.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="13"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(136.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="14"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(140.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="15"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(144deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="16"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(147.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="17"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(151.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="18"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(154.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="19"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(158.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="20"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(162deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="21"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(165.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="22"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(169.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="23"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(172.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="24"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(176.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="25"]:before {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #dee2e6), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #d2527f), color-stop(50%, #dee2e6), to(#dee2e6));
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(180deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="26"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(183.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="27"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(187.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="28"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(190.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="29"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(194.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="30"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(198deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="31"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(201.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="32"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(205.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="33"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(208.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="34"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(212.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="35"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(216deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="36"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(219.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="37"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(223.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="38"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(226.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="39"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(230.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="40"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(234deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="41"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(237.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="42"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(241.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="43"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(244.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="44"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(248.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="45"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(252deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="46"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(255.6deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="47"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(259.2deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="48"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(262.8deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="49"]:before {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%, transparent), linear-gradient(266.4deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="50"]:before {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #d2527f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #d2527f), color-stop(50%, #dee2e6), to(#dee2e6));
  background-image: linear-gradient(-90deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="51"]:before {
  background-image: linear-gradient(-86.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="52"]:before {
  background-image: linear-gradient(-82.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="53"]:before {
  background-image: linear-gradient(-79.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="54"]:before {
  background-image: linear-gradient(-75.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="55"]:before {
  background-image: linear-gradient(-72deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="56"]:before {
  background-image: linear-gradient(-68.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="57"]:before {
  background-image: linear-gradient(-64.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="58"]:before {
  background-image: linear-gradient(-61.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="59"]:before {
  background-image: linear-gradient(-57.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="60"]:before {
  background-image: linear-gradient(-54deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="61"]:before {
  background-image: linear-gradient(-50.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="62"]:before {
  background-image: linear-gradient(-46.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="63"]:before {
  background-image: linear-gradient(-43.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="64"]:before {
  background-image: linear-gradient(-39.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="65"]:before {
  background-image: linear-gradient(-36deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="66"]:before {
  background-image: linear-gradient(-32.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="67"]:before {
  background-image: linear-gradient(-28.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="68"]:before {
  background-image: linear-gradient(-25.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="69"]:before {
  background-image: linear-gradient(-21.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="70"]:before {
  background-image: linear-gradient(-18deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="71"]:before {
  background-image: linear-gradient(-14.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="72"]:before {
  background-image: linear-gradient(-10.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="73"]:before {
  background-image: linear-gradient(-7.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="74"]:before {
  background-image: linear-gradient(-3.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="75"]:before {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #d2527f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #d2527f), color-stop(50%, #dee2e6), to(#dee2e6));
  background-image: linear-gradient(0deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="76"]:before {
  background-image: linear-gradient(3.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="77"]:before {
  background-image: linear-gradient(7.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="78"]:before {
  background-image: linear-gradient(10.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="79"]:before {
  background-image: linear-gradient(14.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="80"]:before {
  background-image: linear-gradient(18deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="81"]:before {
  background-image: linear-gradient(21.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="82"]:before {
  background-image: linear-gradient(25.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="83"]:before {
  background-image: linear-gradient(28.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="84"]:before {
  background-image: linear-gradient(32.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="85"]:before {
  background-image: linear-gradient(36deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="86"]:before {
  background-image: linear-gradient(39.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="87"]:before {
  background-image: linear-gradient(43.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="88"]:before {
  background-image: linear-gradient(46.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="89"]:before {
  background-image: linear-gradient(50.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="90"]:before {
  background-image: linear-gradient(54deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="91"]:before {
  background-image: linear-gradient(57.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="92"]:before {
  background-image: linear-gradient(61.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="93"]:before {
  background-image: linear-gradient(64.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="94"]:before {
  background-image: linear-gradient(68.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="95"]:before {
  background-image: linear-gradient(72deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="96"]:before {
  background-image: linear-gradient(75.6deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="97"]:before {
  background-image: linear-gradient(79.2deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="98"]:before {
  background-image: linear-gradient(82.8deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="99"]:before {
  background-image: linear-gradient(86.4deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.progress-circle[data-progress="100"]:before {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #d2527f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #d2527f), color-stop(50%, #dee2e6), to(#dee2e6));
  background-image: linear-gradient(90deg, #d2527f 50%, transparent 50%, transparent), linear-gradient(270deg, #d2527f 50%, #dee2e6 50%, #dee2e6);
}

.timeline {
  display: block;
      grid-template-areas: "ano local" "ano cargo" "ano entregas" "ano atividades";
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  padding-left: 40px;
  position: relative;
}

.timeline .ano {
  display: block;
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: ano;
  margin: 0 0 15px 0;
  position: relative;
}

.timeline .ano::before {
  background-color: #d2527f;
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 11px;
  top: 0;
  width: 2px;
}

.timeline .ano::after {
  background-color: #fff;
  border: 2px solid #d2527f;
  border-radius: 50%;
  height: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
}

.timeline .local {
  font-size: 1.5rem;
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: local;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.timeline .cargo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cargo;
}

.timeline .entregas {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: entregas;
  font-size: 120%;
  font-weight: 500;
}

.timeline .atividades {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: atividades;
  list-style: none;
  padding-left: 0;
}

.timeline .atividades li {
  margin-bottom: 0.5rem;
}

.timeline::before {
  background-color: #d2527f;
  bottom: 0;
  content: "";
  height: 100%;
  left: 11px;
  position: absolute;
  top: 0;
  width: 2px;
}

.timeline::after {
  background-color: #fff;
  border: 2px solid #d2527f;
  border-radius: 50%;
  content: "";
  height: 1.5em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.5em;
}

@media (min-width: 576px) {
  .timeline {
    display: -ms-grid;
    display: grid;
  }
  .timeline .ano {
    margin: 0 30px 0 0;
    padding-right: 50px;
    text-align: right;
  }
  .timeline .ano::before, .timeline .ano::after {
    content: "";
  }
  .timeline::before, .timeline::after {
    content: none;
  }
}

.escolaridade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.escolaridade .formacao {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      grid-template-areas: "titulo titulo" "descricao descricao" "fim inicio";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 30px;
  position: relative;
}

.escolaridade .formacao .titulo {
  color: #d2527f;
  font-size: 1.5rem;
  font-weight: 600;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
  margin-bottom: 0;
}

.escolaridade .formacao .descricao {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: descricao;
  margin-bottom: 0;
}

.escolaridade .formacao .fim,
.escolaridade .formacao .inicio {
  display: inline-block;
  position: relative;
}

.escolaridade .formacao .fim::before,
.escolaridade .formacao .inicio::before {
  background-color: #d2527f;
  height: 2px;
  left: 15px;
  position: absolute;
  right: 0;
  top: -14px;
  width: 90%;
}

.escolaridade .formacao .fim::after,
.escolaridade .formacao .inicio::after {
  background-color: #fff;
  border: 2px solid #d2527f;
  border-radius: 50%;
  bottom: 100%;
  height: 1em;
  left: 10px;
  position: absolute;
  right: 10px;
  top: -20px;
  width: 1em;
}

.escolaridade .formacao .fim {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fim;
}

.escolaridade .formacao .fim::after {
  bottom: auto;
  border: 0;
  content: " a";
  height: auto;
  left: auto;
  position: static;
  right: auto;
  top: auto;
  width: auto;
}

.escolaridade .formacao .inicio {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: inicio;
  text-align: right;
}

.escolaridade .formacao .inicio::before {
  left: 0;
  right: 15px;
}

.escolaridade .formacao .inicio::after {
  left: auto;
}

.escolaridade .formacao::before {
  background-color: currentColor;
  bottom: 52px;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.escolaridade .formacao:last-child {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25;
          flex: 1.25;
  padding-right: 0;
}

@media (min-width: 576px) {
  .escolaridade {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .escolaridade .formacao {
    display: -ms-grid;
    display: grid;
  }
  .escolaridade .formacao .descricao {
    margin-bottom: 40px;
  }
  .escolaridade .formacao .inicio,
  .escolaridade .formacao .fim {
    display: block;
  }
  .escolaridade .formacao .inicio::before,
  .escolaridade .formacao .fim::before {
    content: "";
  }
  .escolaridade .formacao .inicio::after,
  .escolaridade .formacao .fim::after {
    content: "";
    background-color: #fff;
    border: 2px solid #d2527f;
    border-radius: 50%;
    bottom: 100%;
    height: 1em;
    left: 10px;
    position: absolute;
    right: 10px;
    top: -20px;
    width: 1em;
  }
  .escolaridade .formacao .inicio::after {
    left: auto;
  }
  .escolaridade .formacao::before {
    content: "";
  }
}
/*# sourceMappingURL=styles.css.map */